
# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 32
sv_enforceGameBuild 2944 #mp2023_01 - San Andreas Mercenaries
set steam_webApiKey "none"
sets tags "default, deployer"

## You MAY edit the following:
sv_hostname "Dragapult.xyz built with CFX | Dragapult.xyz FiveMDX+!"
sets sv_projectName "[CFX | Dragapult.xyz FiveMDX+] Dragapult.xyz"
sets sv_projectDesc "Custom FiveM Server Framework"
sets locale "root-AQ" 

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Uncomment this line if you do not want your server to be listed in the server browser
sv_master1 ""

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# change this
rcon_password {RCON_PASS}

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

## These resources will start by default.

# Default Resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

# Other Resources
ensure bob74_ipl

# Custom Resources
ensure dxp-ts-resource
